<div class="grid-container animate__animated animate__fadeInRight">
  <mat-grid-list cols="1" rowHeight = "70vmin">
    <mat-grid-tile *ngFor="let card of cards" [colspan]="1" [rowspan]="ajuste1()">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.name}}
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="dashboard-card-content">
          <mat-grid-list cols='3' rowHeight = "58vmin">

            <mat-grid-tile [colspan]= 'ajuste1()' [rowspan]=1.4>

              <img src="{{card.imageUrlHiRes}}"
              style="width: 60%;cursor:pointer"
              alt=""
               class = "my-2" >
          </mat-grid-tile>

            <mat-grid-tile [colspan]= "ajuste2()" [rowspan]=1.6>
              <div class = 'descricao'>
                <div>ID: {{card.id}}</div>
                <div *ngIf="card.types" >Tipo: {{card.types}}</div>

                <div class="ataques" *ngIf="card.attacks" >
                  <h2>Ataques :</h2>
                  <div *ngFor="let item of card.attacks">
                    <h3>{{item.name}}</h3>
                    <span> Custo de Mana:
                      <span *ngFor="let mana of item.cost" >
                        <span class = 'mana' [ngStyle]="{'background-color': getColorMana(mana)}"></span>
                      </span>{{item.cost}}</span>

                    <span> Dano: {{item.damage}} </span>
                    <span *ngIf="item.text" > Descrição: {{item.text}} </span>
                  </div>
                </div>


                <div>
                  <span *ngFor="let item of card.resistances"> Resistencia: {{item.type}}</span>
                </div>

                <div>
                  <span *ngFor="let item of card.weaknesses">Fraquezas: {{item.type}}</span>
                </div>


              </div>
            </mat-grid-tile>



          </mat-grid-list>

        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
